@model WebApplication1.Models.Dtos.PostCategoryDto
@{
    ViewData["Title"] = "Thêm Danh mục Tin tức";
}

<h2>@ViewData["Title"]</h2>

<form asp-area="Admin" asp-controller="PostCategory" asp-action="Create" method="post">
    <div class="mb-3">
        <label class="form-label">Tên Danh mục</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-area="Admin" asp-controller="PostCategory" asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>